{% extends "base.html" %}
{% block content %}
<h2>Manajemen Kegiatan</h2>

<p><a href="{{ url_for('admin_kegiatan_form') }}">+ Tambah Kegiatan</a></p>

<table border="1" cellpadding="8" cellspacing="0" style="width:100%; border-collapse:collapse;">
  <tr>
    <th>No</th>
    <th>Judul</th>
    <th>Misa ke</th>
    <th>Tanggal</th>
    <th>Status</th>
    <th>Update</th>
    <th>Aksi</th>
  </tr>
  {% for k in kegiatan_list %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ k.judul }}</td>
    <td>
        {% if item.misa_ke %}
        Misa ke-{{ item.misa_ke }}
        {% else %}
        -
       {% endif %}
    </td>

    <td>{{ k.tanggal }}</td>
    <td>
      {% if k.status == 'draft' %}
        <span style="color:#b36b00; font-weight:600;">DRAFT</span>
      {% else %}
        <span style="color:#0a7a0a; font-weight:600;">PUBLISH</span>
      {% endif %}
    </td>
    <td>{{ k.updated_at }}</td>
    <td>
      <a href="{{ url_for('admin_kegiatan_form', kegiatan_id=k.id) }}">Lihat/Edit</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}

