{% extends "base.html" %}
{% block content %}
<h2>{{ 'Edit' if data else 'Tambah' }} Kegiatan</h2>

<form method="post">
<label>Judul</label><br>
<input name="judul" value="{{ data.judul if data }}"><br><br>

<label>Jumlah Hari</label><br>
<input type="number" name="jumlah_hari" value="{{ data.jumlah_hari if data }}"><br><br>

<label>Jumlah Misa / Hari</label><br>
<input type="number" name="jumlah_misa" value="{{ data.jumlah_misa if data }}"><br><br>

<label>Jumlah Kamera</label><br>
<input type="number" name="jml_kamera" value="{{ data.jml_kamera if data }}"><br><br>

<label>Jumlah Supervisor</label><br>
<input type="number" name="jml_supervisor" value="{{ data.jml_supervisor if data }}"><br><br>

<label>Jumlah Fotografer</label><br>
<input type="number" name="jml_fotografer" value="{{ data.jml_fotografer if data }}"><br><br>

<label>Tanggal Misa Terakhir</label><br>
<input type="date" name="misa_terakhir" value="{{ data.misa_terakhir if data }}"><br><br>

<label>FORM JSON</label><br>
<textarea name="form_json" rows="15" style="width:100%">{{ data.form_json if data }}</textarea><br><br>

<label><input type="checkbox" name="publish" {% if data and data.is_published %}checked{% endif %}> Publish</label><br><br>

<button type="submit">Simpan</button>
</form>
{% endblock %}

