{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <!-- Konten Utama -->
    <div class="dashboard-content">
	   <h2>Jadwal Tugas Streaming</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-message">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

<form method="POST">
  <label for="bulan">Pilih Bulan:</label>
  <select name="bulan" id="bulan">
    {% for key, nama in bulan_dict.items() %}
      <option value="{{ key }}">{{ nama }}</option>
    {% endfor %}
  </select>

  <label for="tahun">Tahun:</label>
  <input type="number" name="tahun" id="tahun" value="{{ current_year }}" required>

  <button type="submit">Lihat</button>
</form>

    {% if no_data %}
        <div class="no-data">Belum ada data untuk bulan ini.</div>
    {% else %}
        <h3>Data Tugas Streaming</h3>
        <table>
            <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Jam</th>
                <th class="wide">Operator</th>
                <th class="wide">Kameramen</th>
                <th class="wide">Supervisor</th>
            </tr>
            {% for idx, item in data %}
                {% for time, positions in item['tasks'].items() %}
                <tr>
                    {% if loop.first %}
                    <td rowspan="{{ item['tasks']|length }}">{{ idx }}</td>
                    <td rowspan="{{ item['tasks']|length }}">{{ item['date'] }}</td>
                    {% endif %}
                    <td>{{ time }}</td>
                    <td>{{ positions['Operator'] }}</td>
                    <td>{{ positions['Kameramen'] }}</td>
                    <td>{{ positions['Supervisor'] }}</td>
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
    {% endif %}
     
<!--    </div>  -->
{% endblock %}
