{% extends "base.html" %}

{% block title %}Tambah Anggota{% endblock %}

{% block content %}
<h2>Tambah Anggota Baru</h2>

<form method="POST">
    <label>Nama Lengkap</label>
    <input type="text" name="nama" required>

    <label>Username</label>
    <input type="text" name="username" required>

    <label>Tanggal Lahir</label>
    <input type="date" name="tgl_lahir">

    <label>Telepon (WhatsApp)</label>
    <input type="text" name="telp" required>

    <label>Email</label>
    <input type="email" name="email" required>

    <p><label>Password</label>
    <input type="password" name="password" required></p>

    <button type="submit">Simpan Anggota</button>
</form>
{% endblock %}
