<h2>Update Profil</h2>
<form method="POST">
    <label>Nama:</label><br>
    <input type="text" name="nama" value="{{ nama }}" required><br><br>

    <label>Tanggal Lahir:</label><br>
    <input type="date" name="tgl_lahir" value="{{ tgl_lahir }}"><br><br>

    <label>No. Telepon:</label><br>
    <input type="text" name="telp" value="{{ telp }}"><br><br>

    <hr>
    <p><em>Isi bagian ini hanya jika ingin mengganti password:</em></p>

    <label>Password Lama:</label><br>
    <input type="password" name="pass_lama"><br><br>

    <label>Password Baru:</label><br>
    <input type="password" name="pass_baru"><br><br>

    <label>Konfirmasi Password Baru:</label><br>
    <input type="password" name="pass_konfirmasi"><br><br>

    <button type="submit">Simpan Perubahan</button>
</form>
